doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Success
        style 
            include style.css 
    body 
        h1(id="successhead") SOA | SIKSHA 'O' ANUSANDHAN
        div(class="success")
            |Successfully Submitted